<table class="table table-striped table-inverse">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Thing Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
    </tr>
  </tbody>
</table>

<form>
  <fieldset class="form-group">
    <legend>Add a thing</legend>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" type="text" id="thing-name">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-2 col-10" style="text-align: left">
        <button type="submit" class="btn btn-primary">Add thing</button>
      </div>
    </div>
  </fieldset>
</form>