<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Angular 2 Starter Project</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
            <a class="nav-link" routerLink="/things" routerLinkActive="active">Things</a>
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <router-outlet></router-outlet>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>By <a href="https://github.com/lorinmiculescu">Lorin Miculescu</a></p>
        </div>
      </div>

    </div>

  </div>

</div>