<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Angular 2 Starter Project</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="index.html">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Get ready for the awesomeness!</h1>
        <p class="lead">Angular 2 Starter Project is here to help you create your Angular 2 project using TypeScript. It comes bundled with Node.js, Express &amp; Mongoose, so you can quickly start developing your project.</p>
        <p class="lead">
          <a href="https://github.com/lorinmiculescu/ng2-node-express-typescript" class="btn btn-lg btn-secondary">Visit GitHub Page</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>By <a href="https://github.com/lorinmiculescu">Lorin Miculescu</a></p>
        </div>
      </div>

    </div>

  </div>

</div>